.editor-ribbon + div {
    --bs-nav-link-padding-y: -0.5rem;
    --bs-nav-underline-gap: 0.5rem;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    margin-top: -12px;
}

::deep .disabled-ribbon-button {
    pointer-events: none; /* Prevent clicks, hovers, etc. */
    opacity: 0.5; /* Make it look disabled */
    user-select: none;
}