::deep  .card {
    margin-left: 15px;
    margin-right: 15px;
    width: 300px;
}

::deep .dropdown-toggle::after {
    content: none;
}

::deep .editor-card {
    border: 1px;
    padding: 0;
    display: contents;
}

::deep .editor-card > .card-body {
    padding-top: 0;
}

::deep .add-button {
    text-align: left;
    align-content: flex-start;
    width: 300px;
    margin: 0 0 0.5rem;
    padding-left: 7px;
    font-size: large;
}