.tag-input {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 0;
    display: flex;
    flex-wrap: wrap;
    min-height: 40px !important;
    min-width: auto !important;
    gap: 5px;
}

::deep .dropdown-menu {
    border-radius: 0;
    padding-left: 4px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

input {
    border: none;
    outline: none;
    flex-grow: 1;
    min-width: 100px;
}
