.editor-ribbon + div {
    --bs-nav-link-padding-y: -0.5rem;
    --bs-nav-underline-gap: 0.5rem;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    margin-top: -12px;
}

::deep .text-center {
    /* We do not want the text in the ribbon to be selectable. 
    Reason is that the double click in the canvas will else select the text in the last ribbon button */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}